body { 
    font:100% Arial;
    text-align: center;
    }
   form {
    background-color:#FAFAFA;
    text-align: center;
    }
   fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:1px solid #DF3F3F;
    }
   legend {
    color:#DF3F3F;
    font-weight:bold
    }
   label {
    margin-top:10px;
    display:block;
    }
   label.inline {
    display:inline;
    margin-right:50px;
    
    }
   input, textarea, select, option {
    background-color:#d3edff;
    }
   input, textarea, select {
    padding:3px;
    border:1px solid #b1b1b1;
    border-radius:5px;
    width:200px;
    
    }
   select {
    margin-top:10px;
    }
   input[type=radio] {
    background-color:transparent;
    border:none;
    width:10px;
    
    }
   input[type=submit], input[type=reset] {
    width:100px;
    margin-left:5px;
    cursor:pointer;
    }
